# Test notebook

This is a test notebook

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = {
    'subject_id': [1, 2, 3],
    'age': [25, 30, 35],
    'gender': ['M', 'F', 'M'],
    'score':    [88, 92, 87]
}

This is a nice table with some results

In [6]:
pd.DataFrame(data)

   subject_id  age gender  score
0           1   25      M     88
1           2   30      F     92
2           3   35      M     87